head
  title Forgot your password
  style
    include style.css
h1 Forgot your password
hr
p We have sent you this email in response to your request to reset your password.
br
p New password:
span #{newPassword}
br
p
  | We recommend that you keep your password secure and not share it with anyone. If you want to change this password or you feel your password has been compromised, you can change it by to your profile configuration then select the option &quot;Change my password&quot;
