.profile {
  h4 {
    color: #1f1e1f;
    font-size: 16px;
  }
  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    h3 {
      color: #24215b;
      font-size: 2.5rem;
      display: flex;
      align-items: center;
      margin-bottom: 0;
    }
    &-right {
      display: flex;
      align-items: center;
      .izzy-btn {
        margin-left: auto;
        min-width: 220px;
        border-radius: 0;
        padding: 20px;
      }
      .client-no {
        font-size: 2rem;
        font-weight: 500;
        margin-right: 30px;
        color: #4265af;
        text-transform: uppercase;
      }
    }
  }
  .profile-name-header {
    padding: 30px;
    background-color: #fff;
    border-right: 8px solid #2662f0;
    margin-bottom: 20px;
    h3 {
      color: #151516;
      font-size: 1.5rem;
      display: flex;
      align-items: center;
      line-height: 1;
      .avatar {
        margin-right: 20px;
      }
    }
  }
  .izzy-input {
    border: 1px solid #dddfe1;
    border-radius: 0;
    background-color: #ededed;
    font-size: 14px;
    &::placeholder {
      color: #abaeb3;        
    }
  }
  .izzy-input-required {
    border: 1px solid #ec0d0d;
    border-radius: 0;
    background-color: #ededed;
    font-size: 14px;
    &::placeholder {
      color: #ec0d0d;        
    }
  }
  &-details {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px 15px;
  }
  .personal-details {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
    &-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
      .edit-details {
        color: #4265af;
        font-weight: 600;
        text-decoration: underline;
        cursor: pointer;
      }
    }
    &-body {
      padding: 15px 5px 5px;
      background-color: #fff;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      border-right: 8px solid #2662f0;
      margin-bottom: 5px;
    }
    .health-details {
      border-right: 8px solid #14a2f2;
      .izzy-input:focus {
        color: #14a2f2;
        border-color: #14a2f2;
      }
      .izzy-input:focus::placeholder {
        color: #14a2f2;
        border-color: #14a2f2;
      }
    }
    .input-boxes {
      display: flex;
      align-items: center;
      flex: 0 0 50%;
      max-width: 50%;
    }
    .input-box {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0 10px;
      margin-bottom: 15px;
    }
    .izzy-input:focus {
      color: #2662f0;
      border-color: #2662f0;
    }
    .izzy-input-required:focus {
      color: #F3580B;
      border-color: #F3580B;
    }
    .izzy-input:focus::placeholder {
      color: #2662f0;
      border-color: #2662f0;
    }
    .izzy-input-required:focus::placeholder {
      color: #F3580B;
      border-color: #F3580B;
    }
  }
  .additional-details {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    margin-bottom: 15px;
    &-body {
      padding: 25px 15px;
      background-color: #fff;
    }
    .input-box {
      margin-bottom: 15px;
    }
  }
  .health-goals {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 15px;
    margin-bottom: 15px;
    &-body {
      padding: 25px 15px 20px;
      background-color: #fff;
    }
    .nav-icon {
      height: 80px;
      width: 80px;
      margin-bottom: 15px;
    }
    p {
      line-height: 1.5;
      color: #9da8ad;
      max-height: 75px;
      text-overflow: ellipsis;
      overflow: hidden;      
    }
  }
  &-cards {
    display: flex;
    margin: 0 -10px 15px;
    flex-wrap: wrap;
  }
  .rubies-card {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 10px;
    &-body {
      padding: 30px 20px 20px 40px;
      background: linear-gradient(to bottom right, #2468f0, #14a0f2);
      color: #fff;
      display: flex;
      position: relative;
      .nav-icon {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
      }
      .count {
        display: block;
        font-weight: 500;
        font-size: 4.5rem;
        line-height: 1.2;
      }
      .amount {
        font-weight: 400;
        font-size: 1.5rem;
        small {
          font-size: 14px;
          font-weight: 300;
        }
      }
      .izzy-btn {
        border-radius: 0;
        margin-left: auto;
        align-self: flex-end
      }
    }
  }
  .care-team-cards {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 15px;
    &-body {
      display: flex;
      flex-wrap: wrap; 
      margin: 0 -5px;
    }   
    .team-card {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      padding: 0 5px;   
      &-inner {
        padding: 30px 0;
        background: linear-gradient(#e56bd6, #fc61b2);
        text-align: center;
      }
      .avatar img {
        height: 70px;
        width: 70px;
      }
      h4 {
        color: #fff;
        font-size: 1.2rem;
        margin-bottom: 0;
        margin-top: 10px;
      }
      p {
        color: #fff;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
  @media screen and (max-width: 1500px) {
    .rubies-card {
      flex: 0 0 40%;
      max-width: 40%;
    }
    .care-team-cards {
      flex: 0 0 60%;
      max-width: 60%;
    }
  }
  @media screen and (max-width: 1200px) {
    .personal-details {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
    .additional-details,
    .health-goals {
      flex: 0 0 50%;
      max-width: 50%;      
    }
    .rubies-card {
      flex: 0 0 50%;
      max-width: 50%;
    }
    .care-team-cards {
      flex: 0 0 50%;
      max-width: 50%;
      .team-card {
        flex: 0 0 50%;
        max-width: 50%;
        margin-bottom: 10px;
      }
    }
  }
  @media screen and (max-width: 1024px) {
    .profile-header-right {
      .client-no {
        font-size: 1.25rem;
        margin-right: 0;
      }
      .izzy-btn {
        min-width: 160px;
        padding: 10px 15px;
        font-size: 14px;
        margin-left: 15px;
      }    
    }
    .rubies-card {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 20px;
    }
    .care-team-cards {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
  @media screen and (max-width: 575px) {
    .profile-header-right {
      flex-direction: column;
      align-items: flex-end;
      h3 {
        font-size: 2rem;
      }
      .client-no {
        margin-bottom: 10px;
        font-size: 16px;
      }
      .izzy-btn {
        min-width: 100px;
        font-size: 12px;
      }    
    }
    .profile-name-header {
      padding: 15px;
      border-width: 5px;
      h3 {
        font-size: 1.2rem;
        .avatar img {
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
        }
      }
    }
    .personal-details {
      .input-box {
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .additional-details,
    .health-goals {
      flex: 0 0 100%;
      max-width: 100%;
      p {
        max-height: 100%;
      }
    }
  }
  @media screen and (max-width: 479px) {
    .profile-header {
      h3 {
        font-size: 2rem;
      }
    }
    .profile-header-right {
      flex-direction: column;
      align-items: flex-end;
      .client-no {
        margin-bottom: 10px;
        font-size: 14px;
      }
      .izzy-btn {
        min-width: 100px;
        font-size: 12px;
      }    
    }
    .rubies-card {
      flex: 0 0 100%;
      max-width: 100%;
      &-body {
        padding: 20px;
        font-size: 12px;
        .izzy-btn {
          min-width: 80px;
        }
        .count {
          font-size: 3.25rem;
        }
        .amount {
          font-size: 1.25rem;
        }
      }
    }
    .care-team-cards {
      .team-card {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 10px;
        h4{
          font-size: 1rem;
        }
        p {
          font-size: 13px;
        }
      }
    }
  }
}
